@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gulzar", serif;
}

#main-content {
  margin: 0px 48px;
}

.flex-layout {
  display: flex;
  justify-content: center;
  gap: 48px;
}

a:link,
a:visited {
  border: 10x solid black;
  color: black;
  padding: 14px 15px;
  margin: 10px;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
}

/// @group navigation
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0px 100px;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      font-size: 36px;
      margin: 0px;
      height: 70px;
    }
  }

  .nav-links {
    display: flex;
    gap: 30px;
    a {
      padding: 0px;
      margin: 0px;
    }
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    a {
      padding: 0px;
      height: 26px;
    }
  }
}

#about {
  width: 500px;
  line-height: 2;
}

.large-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  text-align: left;
}

.small-container {
  margin: 0 0 50px 0;
}

.album-art {
  width: 400px;
  margin: 0px;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

a.album-link {
  padding: 0px;
  margin: 0px;
}

.small-container > p {
  margin: 0;
}
.small-container > img:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-title {
  margin: 0px;
  height: 40px;
}

.artist-name {
  margin: 0;
}

.credits {
  margin: 0px;
  height: 25px;
}

@media screen and (max-width: 1100px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px auto;
    padding: 0px;

    .nav-links {
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      order: 3;
      a {
        padding: 0px;
      }
    }
    .heading {
      .header {
        margin: 0px;
        order: 1;
        height: 70px;
      }
      span {
        order: 2;
      }
    }
    .social-links {
      order: 0;
    }
  }

  .album-art {
    width: 300px;
  }

  .album-title {
    font-size: 16px;
    height: 25px;
  }

  .credits {
    font-size: 14px;
  }

  .flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
  }

  #about {
    width: 90vw;
  }
}
